<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>

</header>

<!-- <p class="genres"><%= data[0].genre%></p> -->

<section class="books">
  <% data.forEach(function(item) { %>
    <article>
      <img src=<%= item.cover_image %> alt=<%= item.title %>>
      <h2><%= item.title %></h2>
      <p><%= item.author %></p>
      <a href=<%= item.genre %>/<%= item.isbn %>>bekijk</a>
    </article>
  <% }); %>
</section>




<footer>
    <% include ../partials/footer %>
</footer>

</body>

</html>
